In [2]:
import pandas as pd
import sqlite3

df = pd.read_csv("Online retail cleaned data.csv")


conn = sqlite3.connect(":memory:")
df.to_sql("online_retail", conn, index=False, if_exists='replace')


query = """
SELECT 
    strftime('%Y', InvoiceDate) AS Year,
    strftime('%m', InvoiceDate) AS Month,
    SUM(Quantity*UnitPrice) AS TotalRevenue
FROM online_retail
GROUP BY Year, Month
ORDER BY Year, Month;
"""

result = pd.read_sql_query(query, conn)
print(result.head())

conn.close()

   Year Month  TotalRevenue
0  None  None   5035919.914
1  2010    01     46376.490
2  2010    02     47316.530
3  2010    03     23921.710
4  2010    05     31771.600

In [3]:
result.to_csv("monthly_revenue.csv", index=False)